@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
/*Estilização geral*/
    html {
        height:100%;
    }
    body {
        display:flex;
        justify-content: center;
        align-items:center;
        height:100%;
        font-size:15px;
        background:hsl(0, 0%, 95%);
    }
    img {
        padding-bottom:20px;
    }
    h2 {
        font-family: 'Big Shoulders Display', cursive;
        text-transform:uppercase;
        color:hsl(0, 0%, 95%);
        font-size:2em;
        margin: 10px 0;
    }
    p {
        font-family: 'Lexend Deca', sans-serif;
        color: hsla(0, 0%, 100%, 0.75);
        line-height:25px;
        margin-bottom:70px;
    }
    button {
        background-color:hsl(0, 0%, 95%);
        padding:15px 35px;
        border-radius:50px;
        border:none;
        font-family: 'Lexend Deca', sans-serif;
        cursor:pointer;
    }
/*Corpo principal das três colunas*/
    #threecolumn {
        display:flex;
        width:850px;
        height:477px;
        margin: 0 auto;
        border-radius:10px;
        box-sizing:border-box;
    }
/*Estilização de cada seção*/
    #sedans {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        background-color:#E28525;
    }
    #suvs  {
        background-color: #016972;
    }
    #luxury  {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        background-color: #00403F;
    }
/*Estilizando cada botão em particular.*/
    #sedans button {
        color:#E28525;
    }
    #suvs button {
        color:#016972;
    }
    #luxury button {
        color:#00403F;
    }
    #sedans button:hover {
        border: 2px solid hsl(0, 0%, 95%);
        color:hsl(0, 0%, 95%);
        background-color:#E28525;
    }
    #suvs button:hover {
        border: 2px solid hsl(0, 0%, 95%);
        color:hsl(0, 0%, 95%);
        background-color:#016972;
    }
    #luxury button:hover {
        border: 2px solid hsl(0, 0%, 95%);
        color:hsl(0, 0%, 95%);
        background-color:#00403F;
    }
/*Mexendo no conteudo interno*/
    .insideArticle {
        box-sizing:border-box;
        display:flex;
        flex-direction:column;
        align-items:flex-start;
        justify-content:center;
        padding:35px;
    }
/*PRIMEIRO MEDIA QUERIE DA MINHA VIDA*/

@media (max-width: 575.98px) { 
    #threecolumn {
        flex-direction:column;
        width: 350px;
    }
    #sedans {
        border-top-right-radius: 10px ;
        border-bottom-left-radius:0px;
    }
    #luxury {
        border-top-right-radius:0px;
        border-bottom-left-radius:10px;
        
    }
 }

    @media (min-width: 576px) and (max-width: 767.98px) { 
        #threecolumn {
            flex-direction:column;
            width: 700px;
        }
        #sedans {
            border-top-right-radius: 10px ;
            border-bottom-left-radius:0px;
        }
        #luxury {
            border-top-right-radius:0px;
            border-bottom-left-radius:10px;
            
        }
      
    }





    /*320px — 480px: Mobile devices
    481px — 768px: iPads, Tablets
    769px — 1024px: Small screens, laptops
    1025px — 1200px: Desktops, large screens
    1201px and more —  Extra large screens, TV*/
